html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
}

.kabkot-label {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #111827;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;

  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

